form{
    width: 40%;
    margin: 50px auto;
    
   
}

form input{
    margin-bottom: 15px;
}



h1 {
    text-align: center;
    margin-top: 20px;
}

p{
    text-align: center;
    margin-top:  30px; 
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
  
}


button{
 position: relative;
 left: 50%;
}